*.zip filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.cst filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
stacked-patch-array/Simulaciones/fase[[:space:]]2/parche_binomial.zip filter=lfs diff=lfs merge=lfs -text
stacked-patch-array/Simulaciones/fase[[:space:]]2/parche_uniforme.zip filter=lfs diff=lfs merge=lfs -text
cassegrain-reflector-potter-horn/BOCINA_ENTERA_MET_RAD_v4.zip filter=lfs diff=lfs merge=lfs -text
cassegrain-reflector-potter-horn/REFLECTOR_MAS_BOCINA_FINAL_v3.zip filter=lfs diff=lfs merge=lfs -text
reflectarray-design/cst/ATAT_P4_B.zip filter=lfs diff=lfs merge=lfs -text
reflectarray-design/cst/ATAT_P4_B_SIMULADO.zip filter=lfs diff=lfs merge=lfs -text
source-reconstruction/PHASED[[:space:]]ARRAY[[:space:]]MATLAB-version_final.zip filter=lfs diff=lfs merge=lfs -text
